body{
    font-family: Arial,sans-serif;
    margin: 0 auto;
    padding: 0%;
    background-color: rgb(242, 240, 242);
   
}
/*ENCABEZADO*/
.header {
    background-color: rgb(242,247,243);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
/*Menu de Navegacion*/
.menu {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
}

.menu img {
  height: 130px;  
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu ul li {
    margin: 0 5px;

}
.menu ul li a {
    color:rgb(1, 98, 12);
    text-decoration:none;
    font-size: 100%;
    margin-right:20px;
    
} 
.menu ul li :hover{
    color:rgb(2, 190, 2);
    transform: scale(3,3);
}
/*CONTENEDOR DE BUSQUEDA*/

.search-container,.iconos{
    margin-left:0;
    padding: 0;
}

.search-right {
    display:flex;
    margin-right:0;

}

.search-container input [type="submit"]{
    padding: 5px 10px;
    margin-right:  10px ;
}

.search-container input [type="submit"]{
    background-color:white;
    color:white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}


.search-container input[type="submit"]:hover {
 background-color: rgb(1, 98, 12);
}

.iconos{
    display:flex;
    align-items: center;
    padding: 0;
}

.iconos i{
    font-size: 25px;
    color:  rgb(1, 91, 12);
    margin-right: 10px;
}

/*TODA LA INFO DE LA PAGINA*/
.container,h5,h5{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}
/*ICONOS FIDELIDAD,ENVIOS*/
.fidelity-icons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 15px;

}

.fidelity-icons i {
    flex: 1;
    text-align: center;
    color:rgb(152, 152, 152)
}
.fidelity-icons i:hover {
    color: rgb(1, 91, 12);
    transform: scale (1,1);
}

/*CATEGORIAS*/
.categorias h5{
    text-align:start;
    margin-bottom: 20px;
    color: rgb(1, 91, 12);
}


.category-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.category {
    border: 1px solid #ddd ;
    padding: 16px;
    margin: 10px;
    text-align: center;  
}

.category img {
    width: 100%;
    max-width: 230px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.category button {
    background-color: #9AC586;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.category button:hover {
    background-color: rgb(1, 91, 12);
}

/*SECCION DE PRODUCTOS*/
.productos,h4{
    text-align:start;
    margin-bottom: 200px;
    color: rgb(1, 91, 12);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.producto {
    border: 1px solid #ddd ;
    padding: 16px;
    margin: 10px;
    text-align: center;
}
.producto-stock{
    font-size: small;
    color: rgb(2, 190, 2);
    font-weight: bold;
}

.producto-rating .fa{
    color:#e3c206;
}
.producto img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

.producto button {
    background-color: #9AC586;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.producto button:hover {
    background-color: rgb(1, 91, 12);
}